In [9]:
import pandas as pd
from datetime import datetime

In [1]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-16 15:12:02--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.239.38.181, 18.239.38.147, 18.239.38.83, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.239.38.181|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet’

green_tripdata_2025 100%[===================>]   1.11M  --.-KB/s    in 0.01s

2026-01-16 15:12:02 (92.7 MB/s) - ‘green_tripdata_2025-11.parquet’ saved [1164775/1164775]

In [2]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-16 15:12:21--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-16T15%3A54%3A30Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-16T14%3A54%3A25Z&ske=2026-01-16T15%3A54%3A30Z&sks=b&skv=2018-11-09&sig=gt35B7hPNBd0hFpEoQ9y43BWCykBKDp4ll8y09lKM2I%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODU3NjY0MSwibmJmIjoxNzY4NTc2MzQxLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.1Hmk_0IQ0APJsGFpVs3hIVX6pOnxRoWCpHMY_QmTLzA&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-16 15:12:21--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-16T15%3A54%3A30Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-16T14%3A54%3A25Z&ske=2026-01-16T15%3A54%3A30Z&sks=b&skv=2018-11-09&sig=gt35B7hPNBd0hFpEoQ9y43BWCykBKDp4ll8y09lKM2I%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODU3NjY0MSwibmJmIjoxNzY4NTc2MzQxLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.1Hmk_0IQ0APJsGFpVs3hIVX6pOnxRoWCpHMY_QmTLzA&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2026-01-16 15:12:21 (90.7 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

Question 1

In [100]:
!docker run -it --rm --entrypoint=bash python:3.13 -c "pip --version"

pip 25.3 from /usr/local/lib/python3.13/site-packages/pip (python 3.13)

Question 2

### docker-compose.yaml

```yaml
services:
  db:
    container_name: postgres
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_DB: 'ny_taxi'
    ports:
      - '5433:5432'
    volumes:
      - vol-pgdata:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: "pgadmin@pgadmin.com"
      PGADMIN_DEFAULT_PASSWORD: "pgadmin"
    ports:
      - "8080:80"
    volumes:
      - vol-pgadmin_data:/var/lib/pgadmin

volumes:
  vol-pgdata:
    name: vol-pgdata
  vol-pgadmin_data:
    name: vol-pgadmin_data

hostname is given by db with the external port of 5432

Question 3

In [6]:
df_trips = pd.read_parquet('/workspaces/data-engineering-zoomcap/homework/green_tripdata_2025-11.parquet')
df_zones = pd.read_csv('/workspaces/data-engineering-zoomcap/homework/taxi_zone_lookup.csv')

In [13]:
df_nov_dec = df_trips.loc[(df_trips['lpep_pickup_datetime'] >= '2025-11-01') & (df_trips['lpep_pickup_datetime'] < '2025-12-01') ]

In [14]:
df_nov_dec.loc[df_nov_dec['trip_distance'] <= 1]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.0,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.0,0.0
8,2,2025-11-01 00:03:08,2025-11-01 00:06:27,N,1.0,223,223,1.0,0.63,5.10,...,0.5,1.52,0.0,NaN,1.0,9.12,1.0,1.0,0.0,0.0
11,2,2025-11-01 00:02:26,2025-11-01 00:02:31,N,5.0,93,93,1.0,0.00,28.00,...,0.0,5.80,0.0,NaN,1.0,34.80,1.0,2.0,0.0,0.0
14,2,2025-11-01 00:05:40,2025-11-01 00:05:45,N,5.0,244,244,1.0,0.00,9.50,...,0.0,2.10,0.0,NaN,1.0,12.60,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46789,6,2025-11-29 14:02:50,2025-11-29 14:08:07,None,NaN,188,188,NaN,0.95,2.90,...,0.5,0.00,0.0,NaN,0.3,16.00,NaN,NaN,NaN,0.0
46809,1,2025-11-29 17:02:56,2025-11-29 17:09:35,None,NaN,41,42,NaN,0.80,7.90,...,0.5,0.00,0.0,NaN,1.0,9.40,NaN,NaN,NaN,0.0
46824,2,2025-11-29 21:43:00,2025-11-29 21:52:00,None,NaN,145,226,NaN,0.00,13.02,...,0.5,4.36,0.0,NaN,1.0,18.88,NaN,NaN,NaN,0.0
46854,6,2025-11-30 10:30:57,2025-11-30 10:36:22,None,NaN,10,215,NaN,0.79,0.00,...,0.5,0.00,0.0,NaN,0.3,16.00,NaN,NaN,NaN,0.0
46876,6,2025-11-30 13:06:21,2025-11-30 13:11:39,None,NaN,7,260,NaN,0.67,5.80,...,0.5,0.00,0.0,NaN,0.3,16.00,NaN,NaN,NaN,0.0

Question 4

In [41]:
dates = pd.to_datetime([
    '2025-11-14',
    '2025-11-20',
    '2025-11-23',
    '2025-11-25'
]).date

In [26]:
df_ok = df_trips[df_trips['trip_distance'] < 100].copy()

In [43]:
df_miles = df_ok.groupby('pickup_day')['trip_distance'].sum()
df_miles.loc[dates]

pickup_day
2025-11-14    5594.69
2025-11-20    6377.03
2025-11-23    4228.88
2025-11-25    5954.80
Name: trip_distance, dtype: float64

Question 5

In [52]:
df = df_trips.merge(
    df_zones,
    how="left",
    left_on="PULocationID",
    right_on="LocationID"
).rename(
    columns={
        "Borough": "PU_Borough",
        "Zone": "PU_Zone",
        "service_zone": "PU_service_zone"
    }
).drop(columns=["LocationID"])

In [53]:
df = df.merge(
    df_zones,
    how="left",
    left_on="DOLocationID",
    right_on="LocationID"
).rename(
    columns={
        "Borough": "DO_Borough",
        "Zone": "DO_Zone",
        "service_zone": "DO_service_zone"
    }
).drop(columns=["LocationID"])

In [68]:
df['pick_up_day'] = pd.to_datetime(df['lpep_pickup_datetime']).dt.date

In [73]:
df_nov = df.loc[df['pick_up_day'] == pd.to_datetime('2025-11-18').date()]

In [78]:
df_nov.groupby(['PU_Zone'])['total_amount'].sum().sort_values(ascending=False)

PU_Zone
East Harlem North           9281.92
East Harlem South           6696.13
Central Park                2378.79
Washington Heights South    2139.05
Morningside Heights         2100.59
                             ...
Upper West Side South         16.00
Upper West Side North         16.00
West Village                  16.00
Bronxdale                     13.57
Brooklyn Navy Yard             0.00
Name: total_amount, Length: 136, dtype: float64

Question 6

In [84]:
df_ehn = df[df['PU_Zone'] == 'East Harlem North']

In [88]:
df_ehn_nov = df_ehn.loc[
    (df_ehn['pick_up_day'] >= pd.to_datetime('2025-11-01').date()) &
    (df_ehn['pick_up_day'] < pd.to_datetime('2025-12-01').date())
    ]

In [96]:
df_ehn_nov.groupby('DO_Zone')['tip_amount'].max().sort_values(ascending=False)

DO_Zone
Yorkville West                   81.89
LaGuardia Airport                50.00
East Harlem North                45.00
Long Island City/Queens Plaza    34.25
JFK Airport                      23.53
                                 ...
Richmond Hill                     0.00
Van Nest/Morris Park              0.00
Van Cortlandt Village             0.00
Williamsbridge/Olinville          0.00
West Village                      0.00
Name: tip_amount, Length: 136, dtype: float64

In [95]:
df_ehn_nov.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee', 'PU_Borough', 'PU_Zone', 'PU_service_zone',
       'DO_Borough', 'DO_Zone', 'DO_service_zone', 'pick_up_day'],
      dtype='object')